@scope (.shifts-2) {
  .window-container {
    border: 1px solid darkgreen;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
  }

  .root-container {
    border: 1px solid forestgreen;
    /* padding: 16px 0 32px; */
    padding: 16px 0 48px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .day-boxes-container {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
    border: 1px solid lightblue;
  }

  .day-box {
    border: 1px solid rgb(51, 50, 70);
    border-right: none;
  }

  .time-ruler {
    border: 1px solid rgb(68, 55, 158);
    height: 20px;
    display: flex;
  }

  .tick {
    border-left: 1px solid rgb(139, 171, 11);
  }

  .shift-band {
    border-bottom: 1px solid #5f5d5d;
  }

  .slots-container {
    position: absolute;
    display: flex;
    top: 0;
  }

  .slot-item {
    position: absolute;
    /* color: black; */
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: goldenrod;
    color: black;

    small {
      font-size: 10px;
    }
  }
}
