body {
  overflow: hidden;
}

@scope (.shifts-3) {
  --header-height: 40px;

  --sidebar-width-open: 320px;
  --sidebar-width-closed: 60px;

  --mobile-bottom-height-open: 380px;
  --mobile-bottom-height-closed: 60px;

  --slots-container-width: calc(100% - var(--sidebar-width-open));

  * {
    font-size: 12px;
  }

  header {
    position: sticky;
    top: 0;
    background-color: #222;
    border: 1px solid lightgray;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    height: var(--header-height);
    z-index: 1000;

    button {
      padding: 8px 16px;
      cursor: pointer;
      font-size: 24px;
    }
  }

  .root-container {
    border: 1px solid dodgerblue;
    display: flex;
    flex-direction: row;
    width: 100%;

    height: calc(100svh - var(--header-height));
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .professionals-container {
    padding: 16px;
    flex-shrink: 0;
    height: 100%;
    transition: width 0.2s ease-in;
  }

  .professionals-container.desktop {
    display: block;
  }
  .professionals-container.mobile {
    display: none;
  }

  .professional-card {
    border: 1px solid gray;
    padding: 8px 16px;
    user-select: none;
    background-color: #222;
    width: 100%;
    text-align: start;
  }

  .slots-container {
    position: absolute;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.1);

    width: var(--slots-container-width);

    transition: width 0.2s ease-out 0.2s;
  }

  .slots-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slot {
    position: absolute;
    background-color: lightblue;
    border: 1px solid #555;
    opacity: 0.6;

    &:hover {
      background-color: deepskyblue;
    }
  }

  .day-boxes-container {
    position: absolute;
    border: 1px solid lightcyan;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;

    &.day {
      display: flex;
      flex-direction: column;
    }

    &.week {
      display: flex;
      flex-direction: row;
    }

    &.month {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .time-ruler {
    /* border: 1px dashed red; */
    position: relative;
    width: 100%;
    height: 12px;
  }

  .tick {
    position: absolute;
    width: 1px;
    height: 6px;
    background-color: #444;

    span {
      display: block;
      font-size: 7px;
      transform: translate(-50%, -8px);
    }
  }

  .day-boxes-inner {
    width: 100%;
  }

  .day-box {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    min-height: 120px;

    &.left-side {
      border-left: 1px solid #444;
    }
  }

  @media screen and (width <= 768px) {
    .root-container {
      flex-direction: column;
    }

    .professionals-container {
      width: 100%;
    }

    .professionals-container.desktop {
      display: none;
    }
    .professionals-container.mobile {
      display: block;
      border-top: 1px solid #444;
    }

    .slots-container {
      width: 100%;
      height: calc(100% - var(--mobile-bottom-height-open));
    }
  }

  /*****/

  .flex {
    display: flex;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .justify-between {
    justify-content: space-between;
  }
}
